doctype html
html(lang="ja")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=1200")
		title taku_oka.net
		link(href="lib/normalize.min.css" rel="stylesheet" type="text/css")
		link(href="css/index.css" rel="stylesheet" type="text/css")


	body

		canvas#splash

		#page
			h1 my page
			p pagepageapwefaaaaaaaaaaaaaaaaaaa


	script(src='js/splash.js')
	script.
		console.log("entry point");

		// iPhone/iPad/iPod、Androidの場合は振り分けを判断
		if ( navigator.userAgent.indexOf('iPhone') > 0
			|| navigator.userAgent.indexOf('iPod') > 0
			|| (navigator.userAgent.indexOf('Android') > 0 && navigator.userAgent.indexOf('Mobile') > 0) )
		{
			window.isMobile = true;
		}

		var splashCanvas, sctx, maxW, maxH;

		window.onload = function() {
			splashCanvas = document.getElementById("splash");
			splashCanvas.width = window.innerWidth;
			splashCanvas.height = window.innerHeight;
			maxW = splashCanvas.width;
			maxH = splashCanvas.height;
			sctx = splashCanvas.getContext("2d");

			START_SPLASH();
		};
		window.onresize = function() {
			splashCanvas.width = window.innerWidth;
			splashCanvas.height = window.innerHeight-10;
			maxW = splashCanvas.width;
			maxH = splashCanvas.height;
		}
